<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <title>
        Contracts.com
    </title>
    <link rel="stylesheet" href="/css/cabinet.css"></link>
</head>

<body>
    <main>
        <div class="title">
            <h1>Successful Authorisation</h1></div>
        <div class="fon photo-1"></div>
        <div class="img">
            <div class="ava"><img src="/cabinet/man.png" alt="you" width="225" height="225" ;></div>
            <div class="User">
                <h1>Username:</h1></div>
            <div class="User-1">
                <h1>{{login}}</h1></div>
            <div class="id">
                <h1>Id</h1></div>
            <div class="id-2">
                <h1>User:</h1></div>
            <div class="id-3">
                <p>{{id}}</p>
            </div>
            <div class="email">
                <h1>Email:</h1></div>
            <div class="email-1">
                <p>{{email}}</p>
            </div>
            <div class="bal">
                <h1>Balance:</h1></div>
            <div class="balance-1">
                <p>{{balance}}</p>
            </div>
            <div class="tickets">
                <h1>Tickets:</h1></div>
            <div class="tickets-1">
                <p>{{tickets}}</p>
            </div>
        </div>
        <div class="play">
            <form action="/games" method="post">
                <p><button type="submit">Go to the game</button></p>
            </form>
        </div>
    </main>
</body>
